<div class="bg-gray-300 flex justify-center text-gray-700 p-10">

    <div class="flex flex-wrap justify-center">

        <div class="w-72 bg-white rounded-lg shadow-xl cursor-pointer hover:shadow-2xl m-4">
            <img src="images/demo-bg.png" class="object-cover h-20 w-full rounded-t-lg">
            <div class="flex justify-center">
                <img src="images/assets/avatar.jpg"
                    class="h-20 rounded-full text-center mx-auto border-4 border-white absolute -mt-10 hover:shadow-xl">
            </div>
            <div class="pt-12 pb-6">
                <div class="font-bold text-center">
                    Michael Moore
                </div>
                <div class="text-sm text-center">
                    Mucisian
                </div>
            </div>
        </div>

        <div class="w-72 bg-white rounded-lg shadow-xl cursor-pointer hover:shadow-2xl m-4">
            <img src="images/demo-bg.png" class="object-cover h-20 w-full rounded-t-lg">
            <div class="flex justify-center">
                <img src="images/assets/avatar.jpg"
                    class="h-20 rounded-full text-center mx-auto border-4 border-white absolute -mt-10 hover:shadow-xl">
            </div>
            <div class="pt-12 pb-6">
                <div class="font-bold text-center">
                    Michael Moore
                </div>
                <div class="text-sm text-center">
                    Mucisian
                </div>
            </div>
        </div>

        <div class="w-72 bg-white rounded-lg shadow-xl cursor-pointer hover:shadow-2xl m-4">
            <img src="images/demo-bg.png" class="object-cover h-20 w-full rounded-t-lg">
            <div class="flex justify-center">
                <img src="images/assets/avatar.jpg"
                    class="h-20 rounded-full text-center mx-auto border-4 border-white absolute -mt-10 hover:shadow-xl">
            </div>
            <div class="pt-12 pb-6">
                <div class="font-bold text-center">
                    Michael Moore
                </div>
                <div class="text-sm text-center">
                    Mucisian
                </div>
            </div>
        </div>

        <div class="w-72 bg-white rounded-lg shadow-xl cursor-pointer hover:shadow-2xl m-4">
            <img src="images/demo-bg.png" class="object-cover h-20 w-full rounded-t-lg">
            <div class="flex justify-center">
                <img src="images/assets/avatar.jpg"
                    class="h-20 rounded-full text-center mx-auto border-4 border-white absolute -mt-10 hover:shadow-xl">
            </div>
            <div class="pt-12 pb-6">
                <div class="font-bold text-center">
                    Michael Moore
                </div>
                <div class="text-sm text-center">
                    Mucisian
                </div>
            </div>
        </div>

        <div class="w-72 bg-white rounded-lg shadow-xl cursor-pointer hover:shadow-2xl m-4">
            <img src="images/demo-bg.png" class="object-cover h-20 w-full rounded-t-lg">
            <div class="flex justify-center">
                <img src="images/assets/avatar.jpg"
                    class="h-20 rounded-full text-center mx-auto border-4 border-white absolute -mt-10 hover:shadow-xl">
            </div>
            <div class="pt-12 pb-6">
                <div class="font-bold text-center">
                    Michael Moore
                </div>
                <div class="text-sm text-center">
                    Mucisian
                </div>
            </div>
        </div>


    </div>

</div>