<div>
    <div class="bg-blue-600">
        <div class="container mx-auto">
            <div class="py-2 flex items-center justify-between text-white">
                <img src="https://launchpad.tokenomy.com/tokenomy-assets/assets/img/logo_tokenomy.png" class="h-8" />
                <nav class="">
                    <a href="#" class="text-sm p-4 font-semibold"> Launchpad</a>
                    <a href="#" class="text-sm p-4 font-semibold"> Donasi</a>
                    <a href="#" class="text-sm p-4 font-semibold"> Market</a>
                    <a href="#" class="text-sm p-4 font-semibold"> Bantuan</a>
                    <a href="#" class="text-sm p-4 font-semibold"> Daftar</a>
                    <a href="#" class="text-sm p-4 font-semibold"> Login</a>
                </nav>
            </div>
        </div>
    </div>

    <div class="bg-gray-200">
        <div class="container mx-auto flex py-10">
            <div class="w-1/4">
                <div>
                    <div class="font-semibold">Filter</div>
                    <div class="font-semibold text-gray-600 my-2">Semua Status Project</div>
                    <div class="font-light text-gray-700 my-2">Sedang berlangsung</div>
                    <div class="font-light text-gray-700 my-2">Upcoming</div>
                    <div class="font-light text-gray-700 my-2">Selesai</div>
                </div>

                <div class="mt-8">
                    <div class="font-semibold">Kategori</div>
                    <div class="font-semibold text-gray-600 my-2 cursor-pointer">Semua Status Project</div>
                    <div class="font-light my-2 text-gray-700 cursor-pointer">Sedang berlangsung</div>
                    <div class="font-light my-2 text-gray-700 cursor-pointer">Upcoming</div>
                    <div class="font-light my-2 text-gray-700 cursor-pointer">Selesai</div>
                </div>

            </div>
            <div class="w-3/4">
                <div class="flex justify-between">
                    <div class="w-3/4 mr-4">
                        <i class="fa fa-search absolute mt-4 ml-4 text-gray-600 text-xl"></i>
                        <input class="py-3 pl-12 w-full border border-3 border-solid focus:outline-none shadow"
                            placeholder="Cari nama project..." />
                    </div>
                    <div class="w-1/4 flex">
                        <div class="py-3 pl-3 pr-12 bg-white border-3 shadow cursor-pointer text-gray-700">
                            Urutkan
                        </div>
                        <i class="fa fa-angle-down absolute mt-4 ml-24"></i>
                    </div>
                </div>

                <div class="border-b border my-3">
                </div>

                <div class="flex flex-wrap">
                    <div class="bg-white rounded w-72 shadow hover:shadow-lg flex-shrink-0">
                        <div class="relative">
                            <img src="https://storage.googleapis.com/exchange-tokenomy/launchpad/idk/thumbnail-idk-1557132971.png"
                                class="rounded-t">
                            <img src="https://storage.googleapis.com/tokenomy/launchpad/idk/logo-idk-1557131567.png"
                                class="h-12 rounded-full absolute -mt-6 shadow bg-white ml-6">
                            <div class="text-sm bg-blue-500 text-white p-2 absolute rounded text-center -mt-12">
                                PENAWARAN EXCHANGE
                            </div>
                        </div>

                        <div class="px-6 py-8">
                            <div class="font-bold text-xl">
                                IDK
                            </div>
                            <div>
                                IDK is a stablecoin pegged to the Indonesian Rupiah.
                            </div>
                            <div class="bg-gray-300 rounded shadow p-5 mt-3">
                                <div class="uppercase text-center font-bold mb-3">
                                    telah diluncurkan
                                </div>
                                <div class="text-gray-700 font-light text-sm">
                                    Tanggal Wallet Dibuka:
                                    15-Mar-19 16:00 UTC+8

                                    Tanggal Trading:
                                    18-Mar-19 16:00 UTC+8
                                </div>

                                <div class="border-b my-5"></div>


                                <div class="flex justify-between">
                                    <div class="text-blue-500 py-1 px-8 border border-blue-500 rounded-full">
                                        Detail
                                    </div>

                                    <div class="text-blue-500 py-1 px-8 border border-blue-500 rounded-full">
                                        Trade
                                    </div>
                                </div>
                            </div>
                            <div class="text-xs mt-2 text-gray-700">
                                <i class="fa fa-clock"></i> Segera Hadir
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>