<div class="bg-gray-300 font-sans text-gray-700">
    <div class="container mx-auto flex flex-col lg:flex-row mt-3 text-sm leading-normal">
        <div class="w-full lg:w-2/12 mx-4 my-6">
            <div
                class="bg-white shadow-lg rounded px-6 py-3 mb-6 flex justify-between text-secondary-std items-baseline hover:shadow-none hover:bg-secondary-light hover:text-white cursor-pointer">
                <i class="fa fa-plus"></i>
                <div class="text-right font-semibold">FOLLOW</div>
            </div>
            <div class="bg-white shadow-lg rounded px-6 py-3 mb-6">
                <div class="flex justify-between">
                    <div class="text-center uppercase">
                        <div class="font-thin">
                            backer
                        </div>
                        <div class="text-xl">
                            6
                        </div>
                    </div>
                    <div class="text-center uppercase">
                        <div class="font-thin">
                            follower
                        </div>
                        <div class="text-xl">
                            6324
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <span><i class="fa fa-facebook"></i></span>
                    <span><i class="fa fa-twitter"></i></span>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-7/12 mx-4 my-6">
            <div class="bg-white w-100 shadow-lg rounded px-6 py-3 mb-6">
                <iframe width="100%" height="400" src="https://www.youtube.com/embed/rU-W6557Dos?controls=0"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="my-6">
                    Lorm ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </div>
            </div>
            <div class="px-6 py-3 uppercase font-semibold text-gray-600 text-center text-lg">
                recent public post
            </div>


            <div class="border-b border-solid rounded bg-white shadow-lg px-6 py-3 mb-6 border-gray-400">

                <div class="flex justify-between">
                    <div class="flex">
                        <div>
                            <a href="#"><img src="images/assets/avatar_tailwind.jpg" alt="avatar"
                                    class="rounded-full h-12 w-12 mr-2"></a>
                        </div>
                        <div class="ml-2">
                            <div class="font-semibold text-lg">
                                Michael
                            </div>
                            <div class="text-xs">
                                Sep 27, 2018 12:56 am
                            </div>
                        </div>
                    </div>
                    <div class="font-semibold text-sm">
                        Public
                    </div>
                </div>


                <div class="flex w-11/12 p-3 pl-0">

                    <div>
                        <div class="mb-4">
                            <p class="mb-6">🎉 Tailwind CSS v0.3.0 is here!</p>
                            <p class="mb-4">Enable/disable modules, focus and group-hover variants, new utilities, and
                                more.</p>
                            <p class="mb-4">Learn more in our upgrade guide:</p>
                            <p class="mb-6"><a href="#">github.com/tailwind/ta...</a></p>
                            <p><a href="#"><img src="images/assets/tweet3.jpg" alt="tweet image"
                                        class="border border-solid border-gray-400 rounded-sm"></a></p>
                        </div>
                        <div class="pb-2">
                            <span class="mr-8"><a href="#"
                                    class="text-gray-700 hover:no-underline hover:text-blue-400"><i
                                        class="fa fa-comment fa-lg mr-2"></i> 6</a></span>
                            <span class="mr-8"><a href="#"
                                    class="text-gray-700 hover:no-underline hover:text-green-500"><i
                                        class="fa fa-retweet fa-lg mr-2"></i> 74</a></span>
                            <span class="mr-8"><a href="#"
                                    class="text-gray-700 hover:no-underline hover:text-red-500"><i
                                        class="fa fa-heart fa-lg mr-2"></i> 206</a></span>
                            <span class="mr-8"><a href="#"
                                    class="text-gray-700 hover:no-underline hover:text-primary-std"><i
                                        class="fa fa-envelope fa-lg mr-2"></i></a></span>
                        </div>

                        <div
                            class="new-message w-full pin-b flex py-4 bg-white border-t border-grey-lighter items-center">
                            <a href="#"><img src="images/assets/avatar_tailwind.jpg" alt="avatar"
                                    class="rounded-full h-12 w-12 mr-2"></a>

                            <textarea rows="1"
                                class="flex flex-grow flex-no-shrink ml-6 text-sm leading-none border-b pb-2 focus:outline-none"
                                placeholder="comment…"></textarea>
                            <svg class="block w-6 h-6 ml-6 text-grey fill-current cursor-pointer"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path
                                    d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM6.5 9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm7 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm2.16 3a6 6 0 0 1-11.32 0h11.32z">
                                </path>
                            </svg>
                            <svg class="block w-6 h-6 ml-6 text-grey fill-current cursor-pointer"
                                style="transform: rotate(-45deg)" viewBox="0 0 20 20" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Page-1" stroke="none" stroke-width="1" fill-rule="evenodd">
                                    <g id="icon-shape">
                                        <path
                                            d="M15,3 L7,3 C3.13400675,3 0,6.13400675 0,10 C0,13.8659932 3.13400675,17 7,17 L15,17 L15,15 L9.44949137,15 L7,15 C4.23857625,15 2,12.7614237 2,10 C2,7.23857625 4.23857625,5 7,5 L9.44949137,5 L12.9998169,5 L15,5 C16.6568542,5 18,6.34314575 18,8 C18,9.65685425 16.6568542,11 15,11 L12.9998169,11 L8.41464715,11 L7,11 C6.44771525,11 6,10.5522847 6,10 C6,9.44771525 6.44771525,9 7,9 L8.41464715,9 L15,9 L15,7 L7,7 C5.34314575,7 4,8.34314575 4,10 C4,11.6568542 5.34314575,13 7,13 L15,13 C17.7614237,13 20,10.7614237 20,8 C20,5.23857625 17.7614237,3 15,3 Z"
                                            id="Combined-Shape"></path>
                                    </g>
                                </g>
                            </svg>
                        </div>

                    </div>
                </div>
            </div>

            <div
                class="uppercase mb-6 text-center px-6 py-3 bg-white border border-black w-1/3 mx-auto font-semibold hover:bg-gray-500 hover:text-white cursor-pointer">
                load more
            </div>

        </div>
        <div class="w-full lg:w-3/12 mx-4 my-6">
            <div class="bg-white shadow-lg rounded px-6 py-3">
                <div class="uppercase text-lg font-semibold text-gray-500">
                    tiers
                </div>

                <div class="border-b border-gray-600 my-3"></div>
                <div>
                    <div class="uppercase font-semibold">
                        Tier 1
                    </div>
                    <div class="mb-2">
                        10 K per month
                    </div>
                    <div class="mb-2">
                        Lorm ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    </div>
                    <div
                        class="bg-gray-300 px-6 py-3 text-center uppercase font-semibold text-secondary hover:bg-secondary-std hover:text-white cursor-pointer mb-2">
                        Backing Tier 1
                    </div>
                </div>

                <div class="border-b border-gray-600 my-3"></div>
                <div>
                    <div class="uppercase font-semibold">
                        Tier 2
                    </div>
                    <div class="mb-2">
                        20 K per month
                    </div>
                    <div class="mb-2">
                        Lorm ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    </div>
                    <div
                        class="bg-gray-300 px-6 py-3 text-center uppercase font-semibold text-secondary hover:bg-secondary-std hover:text-white cursor-pointer mb-2">
                        Backing Tier 2
                    </div>
                </div>

                <div class="border-b border-gray-600 my-3"></div>
                <div>
                    <div class="uppercase font-semibold">
                        Tier 3
                    </div>
                    <div class="mb-2">
                        30 K per month
                    </div>
                    <div class="mb-2">
                        Lorm ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    </div>
                    <div
                        class="bg-gray-300 px-6 py-3 text-center uppercase font-semibold text-secondary hover:bg-secondary-std hover:text-white cursor-pointer mb-2">
                        Backing Tier 3
                    </div>
                </div>

                <div class="border-b border-gray-600 my-3"></div>
                <div>
                    <div class="uppercase font-semibold">
                        Tier 4
                    </div>
                    <div class="mb-2">
                        40 K per month
                    </div>
                    <div class="mb-2">
                        Lorm ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    </div>
                    <div
                        class="bg-gray-300 px-6 py-3 text-center uppercase font-semibold text-secondary hover:bg-secondary-std hover:text-white cursor-pointer mb-2">
                        Backing Tier 4
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>