<div class="container mx-auto my-8 signup">
  <div class="min-h-screen flex mb-4 row-signup">
    <div class="w-3/5 h-12 row-right">

      <div class="text-dig">
        <p class="w-full text-base sm:text-lg md:text-xl text-center lg:text-2xl xl:text-5xl">
          Join the millions <br> Indonesian developers <br>
        </p>
        <div class="text-center mb-4 w-3/5">
          <img src="https://cdn.dribbble.com/users/79571/screenshots/5516891/workflow_4x.png">
        </div>
      </div>
    </div>
    <div class="w-2/5  h-12 row-left">
      <div class="text-singup mb-8">
        <h2 class="">
          Join us for free
        </h2>
      </div>
      <div class="form-signup-dig">
        <div class="w-full max-w-xs">
          <form class="max-w-xl mb-4 form-input">
            <div class="mb-4">
              <label class="block text-gray-800 text-sm font-bold mb-2" for="username">
                Username
              </label>
              <input
                class="shadow appearance-none border rounded w-full h-12 py-2 px-3 text-gray-800 leading-tight focus:outline-none focus:shadow-outline"
                id="username" type="text" placeholder="Username">
            </div>
            <div class="mb-4">
              <label class="block text-gray-800 text-sm font-bold mb-2" for="password">
                Email
              </label>
              <input
                class="shadow appearance-none border border rounded h-12 w-full py-2 px-3 text-gray-800 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                id="password" type="email" placeholder="email">
            </div>
            <div class="mb-6">
              <label class="block text-gray-800 text-sm font-bold mb-2" for="password">
                Password
              </label>
              <input
                class="shadow appearance-none border border rounded w-full h-12 py-2 px-3 text-gray-800 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                id="password" type="password" placeholder="******************">
            </div>
            <div class="flex items-center justify-between">
              <button class="bg-black w-full hover:bg-black text-white py-3 px-4" type="button">
                Sign In
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>