<div class="bg-gray-300 font-sans text-gray-700">

    <div class="flex flex-col lg:flex-row">
        <div class="bg-blue-900 h-screen w-1/4">
            <div class="flex bg-blue-800 items-center p-6">
                <div class="">
                    <a href="#"><img src="images/assets/avatar_tailwind.jpg" alt="avatar"
                            class="rounded-full h-12 w-12 mr-6"></a>
                </div>

                <div class="text-xl font-bold text-white">
                    VirKill Almasy
                </div>
            </div>
            <div class="border-b">
            </div>
            <div class="p-4 text-white cursor-pointer hover:bg-blue-800">
                <i class="fa fa-home mr-5"></i>Dashboard
            </div>
            <div class="p-4 text-white cursor-pointer hover:bg-blue-800">
                <i class="fa fa-users mr-5"></i>Backers
            </div>
            <div class="p-4 text-white cursor-pointer hover:bg-blue-800">
                <i class="fa fa-chair mr-5"></i>Tiers
            </div>
            <div class="p-4 text-white cursor-pointer bg-blue-800">
                <i class="fa fa-home mr-5"></i>Page
            </div>
        </div>

        <div class="bg-white w-48">
            <div class="bg-blue-100 uppercase p-3 font-semibold cursor-pointer">
                overview
            </div>
            <div class="uppercase p-3 font-semibold cursor-pointer hover:bg-blue-100">
                view page
            </div>
        </div>

        <div class="bg-gray-300 flex justify-center w-full">

            <div class="w-3/4">

                <div class="bg-white my-8 px-12 py-4 rounded shadow-xl w-full hover:shadow-2xl">

                    <div class="flex my-6">
                        <div class="w-2/5 mr-6 text-lg font-semibold">
                            Name
                        </div>

                        <div class="w-3/5">
                            <input class="border-b-2 w-full p-1 focus:outline-none focus:border-teal-500" name=""
                                value="Virkill Almasy" placeholder="Your name..." />
                        </div>
                    </div>


                    <div class="flex my-6">
                        <div class="w-2/5 mr-6 text-lg font-semibold">
                            Account Type
                        </div>

                        <div class="w-3/5">

                            <select class="w-full border-b-2 h-8 bg-white">
                                <option>Musician</option>
                            </select>
                        </div>
                    </div>

                    <div>


                        <!--         <div class="btn w-2/5 bg-primary-std float-right mx-6 text-white hover:bg-primary-light hover:shadow-none">
          save changes
        </div>         -->
                    </div>
                </div>


                <div class="bg-white my-8 px-12 py-4 rounded shadow-xl w-full hover:shadow-2xl">


                    <div class="flex my-6">
                        <div class="w-2/5 mr-6 text-lg font-semibold">
                            Avatar
                        </div>

                        <div class="w-3/5 flex items-center">
                            <a href="#"><img src="images/assets/avatar_tailwind.jpg" alt="avatar"
                                    class="rounded-full h-24 w-24 mr-6"></a>
                            <div>
                                <div
                                    class="btn bg-secondary-light text-white hover:bg-secondary-light hover:shadow-none">
                                    change</div>
                            </div>
                        </div>
                    </div>

                    <div class="flex my-6">
                        <div class="w-2/5 mr-6 text-lg font-semibold">
                            Cover Image
                        </div>

                        <div class="w-3/5">
                            <div class="">
                                <img src="images/demo-bg.png" alt="avatar" class="">
                            </div>
                            <div class="btn w-32 bg-secondary-light text-white mt-4">
                                change
                            </div>
                        </div>
                    </div>

                    <div>
                    </div>
                </div>

                <div class="bg-white my-8 px-12 py-4 rounded shadow-xl w-full hover:shadow-2xl">
                    <div class="text-lg font-semibold my-4">
                        About You
                    </div>
                    <textarea
                        class="w-full h-64 focus:outline-none">Lorm ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</textarea>
                </div>

                <div class="bg-white my-8 px-12 py-4 rounded shadow-xl w-full hover:shadow-2xl">

                    <div class="flex my-6">
                        <div class="w-2/5 mr-6 text-lg font-semibold">
                            Intro Video
                        </div>

                        <div class="w-3/5">
                            <div class="">
                                <div class="flex items-baseline">
                                    <div class="font-bold">
                                        https://youtube.com/
                                    </div>
                                    <input class="border-b-2 w-full p-1 focus:outline-none focus:border-teal-500 mb-1"
                                        name="" value="2ThPEtcbp9Y" placeholder="Your name..." />
                                </div>
                                <img src="images/hero-1.png" alt="avatar" class="">
                            </div>
                        </div>
                    </div>

                    <div>
                    </div>
                </div>


                <div class="bg-white my-8 px-12 py-4 rounded shadow-xl w-full hover:shadow-2xl">

                    <div class="flex my-6">
                        <div class="w-2/5 mr-6 text-lg font-semibold">
                            Facebook
                        </div>

                        <div class="w-3/5">
                            <input class="border-b-2 w-full p-1 focus:outline-none focus:border-teal-500" name=""
                                value="facebook.com/virkill" placeholder="Your name..." />
                        </div>
                    </div>


                    <div class="flex my-6">
                        <div class="w-2/5 mr-6 text-lg font-semibold">
                            Twitter
                        </div>

                        <div class="w-3/5">

                            <input class="border-b-2 w-full p-1 focus:outline-none focus:border-teal-500" name=""
                                value="twitter.com/virkill" placeholder="Your name..." />
                        </div>
                    </div>

                    <div>


                    </div>
                </div>


                <div class="flex justify-center">
                    <div class="btn bg-primary-std mb-8 w-1/2 text-white">
                        save changes
                    </div>
                </div>

            </div>

        </div>