<div class="bg-gray-300 font-sans text-gray-700">
    <div class="container mx-auto flex flex-initial flex-col lg:flex-row mt-3 text-sm leading-normal justify-center">

        <div class="w-full lg:w-7/12 mx-4 my-6">
            <div class="bg-white w-100 shadow-xl hover:shadow-2xl rounded p-8 mb-6">

                <div class="flex mb-8">
                    <div class="w-1/5 mr-6 text-lg text-right font-semibold">
                        Avatar
                    </div>

                    <div class="w-4/5 flex items-center">
                        <a href="#"><img src="images/assets/avatar_tailwind.jpg" alt="avatar"
                                class="rounded-full h-20 w-20 mr-6"></a>
                        <div>
                            <div class="bg-secondary-std cursor-pointer px-6 py-1 uppercase text-white">new image</div>
                        </div>
                    </div>
                </div>

                <div class="flex mb-8">
                    <div class="w-1/5 mr-6 text-lg text-right font-semibold">
                        Name
                    </div>

                    <div class="w-4/5">
                        <input class="border-b-2 w-full p-1 focus:outline-none" name="" value="Virkill Almasy"
                            placeholder="Your name..." />
                    </div>
                </div>

                <div class="flex mb-8">
                    <div class="w-1/5 mr-6 text-lg text-right font-semibold">
                        E-mail
                    </div>

                    <div class="w-4/5">
                        <input class="border-b-2 w-full p-1 focus:outline-none" name="" value="virkill@almasy.com"
                            placeholder="Your name..." />
                    </div>
                </div>

                <div class="flex mb-8">
                    <div class="w-1/5 mr-6 text-lg text-right font-semibold">
                        Address
                    </div>

                    <div class="w-4/5">
                        <input class="border-b-2 w-full p-1 focus:outline-none" name=""
                            value="Jl. Makin membara terasa hampa no.12" placeholder="Your name..." />
                    </div>
                </div>

                <div class="mt-20">
                    <div class="bg-secondary-std btn text-white w-24 hover:bg-secondary-light">
                        save
                    </div>
                </div>


            </div>




        </div>

    </div>
</div>