<section class="bg-primary-std">

    <div class="min-h-screen mx-auto flex flex-col">
        <div class="container max-w-md mx-auto my-8 flex-1 flex flex-col items-center justify-center px-2">
            <div class="bg-white px-6 w-full py-8 rounded-lg shadow-lg text-black">
                <img src="http://127.0.0.1:8088/images/backer.png" class="w-20 mx-auto">
                <h1 class="mb-8 text-3xl text-center">Log in</h1>


                <input type="text" class="block border border-gray-400 w-full p-3 rounded mb-4" name="email"
                    placeholder="Email" />

                <input type="password" class="block border border-gray-400 w-full p-3 rounded mb-4" name="password"
                    placeholder="Password" />

                <div class="text-center">
                    <button
                        class="text-secondary-std border-secondary-std border-solid rounded w-1/3 hover:bg-primary-light py-3 px-4"
                        type="button">
                        Sign up
                    </button>
                    <button class="bg-primary-std rounded w-1/3 hover:bg-primary-light text-white py-3 px-4"
                        type="button">
                        Log in
                    </button>
                </div>

                <div class="text-center text-sm text-gray-700 mt-4">
                    Forgot password?
                    <a class="no-underline text-secondary-std" href="#">
                        Restore
                    </a>
                </div>
            </div>

            <div class="text-gray-700 mt-6">
                Don't have an account?
                <a class="no-underline border-b border-blue-500 text-blue-500  href=" ../login/"> Sign up </a>. </div>
                    </div> </div> </section>