<div class="hero h-64 bg-cover bg-primary-std h-112">
    <div class="p-20">
        <div class="mx-auto text-center font-bold text-3xl text-white">
            Allan Walker
        </div>
        <div class="mx-auto text-center font-bold text-xl text-white">
            Producer
        </div>
    </div>
</div>

<div class="bg-white shadow">
    <div class="container mx-auto flex flex-col lg:flex-row items-center lg:relative">
        <div class="w-full lg:w-1/4">
            <img src="images/backer.png" alt="logo"
                class="rounded-full bg-white p-4 shadow h-48 w-48 lg:absolute lg:left-0 lg:top-0 lg:-mt-24">
        </div>
        <div class="w-full lg:w-1/2">
            <ul class="flex">
                <li class="text-center py-3 px-4 border-b-2 border-solid border-transparent border-primary-std">
                    <a href="#" class="text-gray-800 hover:no-underline">
                        <div class="text-lg tracking-tighter font-bold text-primary-std">Overview</div>
                    </a>
                </li>
                <li class="text-center py-3 px-4 border-b-2 border-solid border-transparent hover:border-primary-std">
                    <a href="#" class="text-gray-800 hover:no-underline">
                        <div class="text-lg tracking-tighter font-bold hover:text-primary-std">Post</div>
                    </a>
                </li>
                <li class="text-center py-3 px-4 border-b-2 border-solid border-transparent hover:border-primary-std">
                    <a href="#" class="text-gray-800 hover:no-underline">
                        <div class="text-lg tracking-tighter font-bold hover:text-primary-std">Community</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="w-full lg:w-1/4 flex my-4 lg:my-0 lg:justify-end items-center">
            <div class="mr-6">
                <button
                    class="bg-primary-std hover:bg-primary-light text-white font-medium py-2 px-4 rounded-full">Become
                    Backer
                </button>
            </div>
            <div>
                <a href="#" class="text-gray-700"><i class="fa fa-ellipsis-v fa-lg"></i></a>
            </div>
        </div>
    </div>

</div>