
    <div class="bg-white">
        <div class="container mx-auto flex flex-col lg:flex-row items-center py-4">
            <nav class="w-full lg:w-2/5">
                <a href="#"
                   class="text-gray-700 text-sm mr-4 font-semibold pb-6 border-b-2 border-solid border-transparent"><i class="fa fa-home fa-lg"></i> Home</a>
                <a href="#"
                   class="text-gray-700 text-sm mr-4 font-semibold pb-6 border-b-2 border-solid border-transparent"><i class="fa fa-bolt fa-lg"></i> Moments</a>
                <a href="#"
                   class="text-gray-700 text-sm mr-4 font-semibold pb-6 border-b-2 border-solid border-transparent"><i class="fa fa-bell fa-lg"></i> Notifications</a>
                <a href="#"
                   class="text-gray-700 text-sm mr-4 font-semibold pb-6 border-b-2 border-solid border-transparent"><i class="fa fa-envelope fa-lg"></i> Messages</a>
    
            </nav>
            <div class="w-full lg:w-1/5 text-center my-4 lg:my-0"><a href="#"><img class="w-10 mx-auto" src="images/backer.png" alt="Logo"/></a>
            </div>
            <div class="w-full lg:w-2/5 flex lg:justify-end">
                <div class="mr-4 relative">
                    <input type="text"
                           class="bg-gray-200 h-8 px-4 py-2 text-xs w-48 rounded-full"
                           placeholder="Search Twitter">
                    <span class="flex items-center absolute right-0 inset-y-0 mr-3"><i class="fa fa-search text-gray-500"></i></span>
                </div>
                <div class="mr-4"><a href="#"><img src="images/assets/avatar.jpg"
                                                   alt="avatar"
                                                   class="h-8 w-8 rounded-full"></a></div>
                <div>
                    <button class="bg-primary-std hover:bg-primary-light text-white font-medium py-2 px-4 rounded-full">Tweet</button>
                </div>
            </div>
        </div> <!-- end container -->
    </div>
    