<div class="bg-white text-gray-700 shadow-lg">
    <div class="container mx-auto flex flex-col lg:flex-row items-center justify-between py-3">
        <div class="w-full lg:w-1/5 text-center lg:my-0"><a href="#"><img class="w-32 mx-auto"
                    src="images/assets/backer-color.png" alt="Logo" /></a>
        </div>

        <div class="my-4 lg:my-0 relative ">
            <input type="text" class="bg-gray-200 h-8 px-4 py-2 text-xs w-64 rounded-full focus:outline-none"
                placeholder="Search">
            <span class="flex items-center absolute right-0 inset-y-0 mr-3"><i
                    class="fa fa-search text-gray-500"></i></span>
        </div>

        <div class="w-full lg:w-2/5 flex justify-center lg:justify-end items-center">

            <i class="fa fa-home text-2xl mx-3 cursor-pointer hover:text-primary-std"></i>

            <div>
                <div class="bg-red-500 rounded-full w-5 font-bold text-sm absolute text-center text-white ml-6 -mt-2">3
                </div>
                <i class="fa fa-bell text-2xl mx-3 cursor-pointer hover:text-primary-std"></i>
            </div>

            <div class="mx-3"><a href="#"><img src="images/assets/avatar.jpg" alt="avatar"
                        class="h-8 w-8 rounded-full"></a>
            </div>
        </div>
    </div>
</div>